CSharp/NordPool_ClearingTradeCaptureAPI_Sample/.vs/
CSharp/NordPool_ClearingTradeCaptureAPI_Sample/packages/
CSharp/NordPool_ClearingTradeCaptureAPI_Sample/ClearingTradeCaptureAPI/obj/
CSharp/NordPool_ClearingTradeCaptureAPI_Sample/ClearingTradeCaptureAPI/bin/